/* Fundo geral */
body {
  background: linear-gradient(135deg, #000,#2b0000);
  color: white;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Container central */
.container {
  max-width: 3000px;
  margin: auto;
  padding: 20px;
}

/* Cabeçalho */
.cabecalho h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: yellow;
  margin-top: 10px;
}

/* Título com imagem */
.title-box {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 40px;
}

.title-image {
  width: 140px;
  border-radius: 15px;
  box-shadow: 0 0 20px red;
}

.title {
  font-size: 2.5rem;
  color: red;
  text-shadow: 1 0 45px red;
}

/* Texto */
.text {
  margin-top: 25px;
  font-size: 1.2rem;
  line-height: 1.6;
  background: rgba(255,255,255,0.07);
  padding: 15px;
  border-radius: 10px;
}

/* Menu */
.menu ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.menu a {
  text-decoration: none;
  padding: 12px 25px;
  background: red;
  color: white;
  font-weight: bold;
  border-radius: 12px;
  font-size: 1.1rem;
  transition: 0.3s;
}

.menu a:hover {
  background: red;
  transform: scale(1.1);
  box-shadow: 0 0 18px white;
}

/* Botão principal */
.button {
  display: block;
  margin: 40px auto;
  width: 250px;
  text-align: center;
  padding: 15px;
  background: yellow;
  color: black;
  border-radius: 20px;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
  box-shadow: 0 0 15px white;
}

.button:hover {
  background: yellow;
  transform: scale(1.12);
}
